{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <div id="question_div" style="display: none">
            <h4 id="question_number">This is face question 1</h4>
            <h3 id="question">Face question goes here.</h3>
            <br>
            <img id="face1" src="" alt="q1" height="300" width="405">
            <div id="summary" style="visibility: :hidden;">
                <table height="100" width="150" font size="1">
                    <tr>
                        <th>Scores of other participants</th>
                    </tr>
                    <tr>
                        <th>Part. ID 1 Score</th>
                    </tr>
                    <tr>
                        <th>Part. ID 2 Score</th>
                    </tr>
                </table>
            </div>
            
            <img id="face2" src="" alt="q1" height="300" width="405">
            <table height="100" width="150" font size="1">
                <tr>
                    <th>Scores of other participants</th>
                <tr>
                    <th>Part. ID 1 Score</th>
                </tr>
                <tr>
                    <th>Part. ID 2 Score</th>
                </tr>
            </table>
            <br>
            <br>
            <h2 id="countdown"></h2>
        </div>
        <div id="wait_div">
            <h4>You got to the face page!</h4>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        recover_node_id();
    </script>
{% endblock %}
