{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h2 id="Welcome to the study"></h2>
        <br>
        <h4>Waiting for other people to join the group, thank you for your patience.</h4>
        <h4>Current group size: <span id="current-group-size"></span>.</h4>
        <hr>
        <p>The experiment will start once <span id="max-group-size"></span> people have joined, or, if this is taking too long, in no more than 15 minutes (<span id="minutes-left">XX</span> minutes left).</p>
        <p>You are welcome to do something else while you wait, and you can use the audio alerts below to let you know when the experiment starts. Once it starts, if you do not return within <strong> 30 seconds </strong> you will be removed from the group to avoid holding other participants up.</p>
        <br>
        <p> Alert for when the experiment starts:</p>
        <button id="play-alert" type="button" class="btn btn-primary">Test alert</button>
        <button id="toggle-alert" type="button" class="btn btn-primary">Disable alert</button>
        <p> Alert is currently <span id="alert-enabled">enabled</span></p>
        <br>
        <p> Mini-alert each time a new person joins:</p>
        <button id="play-mini-alert" type="button" class="btn btn-primary">Test mini-alert</button>
        <button id="toggle-mini-alert" type="button" class="btn btn-primary">Enable mini-alert</button>
        <p> Mini-alert is currently <span id="mini-alert-enabled">disabled</span></p>
    </div>
    <audio class="audios" id="dong" controls preload="none" style="display: none"> 
   		<source src="static/sounds/dong.mp3" type="audio/mpeg">
	</audio>
	<audio class="audios" id="alert" controls preload="none" style="display: none"> 
   		<source src="static/sounds/alert_long.wav" type="audio/mpeg">
	</audio>
{% endblock %}

{% block libs %}
    {{ super() }}
    <script src="/static/scripts/lobby.js" type="text/javascript"> </script>
{% endblock %}