{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>In this experiment you will first take part in a quiz, and then you will choose between faces. You'll get to see what some other people thought too.</p>

        <p>Before we begin, please tell us whether you are primarily interested in men or women as romatic partners:</p>

        <div id="radio-div" class="col-md-4">
            <form>
                <input type="radio" name="preference" value="none" checked class="hidden"><br>
                <input type="radio" name="preference" value="men"> Men<br>
                <input type="radio" name="preference" value="women"> Women<br>
                <input type="radio" name="preference" value="both"> Both<br>
            </form>
        </div>

        <br><br><br><br>
        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button id="begin-button" type="button" class="btn btn-success btn-lg" onClick="dallinger.goToPage('experiment')">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $("#begin-button").prop('disabled', true);
        $("#radio-div").hide();
        dallinger.createParticipant().done(function (resp) {
            $("#begin-button").prop('disabled', true);

            $('input[type=radio][name=preference]').change(function() {
                if (this.value == 'men' | this.value == 'women' | this.value == 'both') {
                    $("#begin-button").prop('disabled', false);
                    console.log("Button enabled!");
                    console.log(this.value);
                } else {
                    $("#begin-button").prop('disabled', true);
                    console.log("Button disabled!");
                    console.log(this.value);
                }
            });

            $("#radio-div").show();
        });
    </script>
{% endblock %}
