{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>This experiment consists of two parts. The first part is a 30 question general knowledge quiz. Your performance on this quiz will determine the bonus you receive at the end of the experiment.</p>

        <p>In the second part, you will be presented with images of two people and asked to choose which person you would prefer as a romantic partner. After you have made your choice, you will see the choices of some other participants, including their score on the quiz. Then, you will be asked to remake your decision.</p>

        <p>For both parts you will have 20 seconds to make your decision. If you do not respond in the allotted time you will be automatically removed from the study.</p>
       </p>

        <p>Before the experiment begins, please tell us whether you are primarily interested in men or women as romantic partners:</p>

        <div id="radio-div" class="col-md-4" class="hidden">
            <form>
                <input type="radio" name="preference" value="none" checked class="hidden"><br>
                <input type="radio" name="preference" value="men"> Men<br>
                <input type="radio" name="preference" value="women"> Women<br>
                <input type="radio" name="preference" value="both"> Both<br>
            </form>
        </div>

        <br><br><br><br>
        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button id="begin-button" type="button" class="btn btn-success btn-lg" disabled>Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $("#begin-button").click(function () {
            dallinger.post('/question/' + dallinger.identity.participantId, {
                question: "preference",
                number: 0,
                response:  $('input[name="preference"]:checked').val()
            }).done();{
                dallinger.allowExit();
                dallinger.goToPage('lobby');
            }
        });

        $('input[type=radio][name=preference]').change(function() {
            if (this.value == 'men' | this.value == 'women' | this.value == 'both') {
                $("#begin-button").prop('disabled', false);
            } else {
                $("#begin-button").prop('disabled', true);
            }
        });

        url = "/participant/" + dallinger.identity.workerId + "/" + dallinger.identity.hitId +
            "/" + dallinger.identity.assignmentId + "/" + dallinger.identity.mode + "?fingerprint_hash=" +
            (dallinger.identity.fingerprintHash) + '&recruiter=' + dallinger.identity.recruiter;
        
        dallinger.post(url)
            .done(function (resp) {
                dallinger.identity.participantId = resp.participant.id;
                $("#radio-div").show();
            })
            .fail(function (resp) {
                dallinger.allowExit();
                dallinger.goToPage('survey');
            });
    </script>
{% endblock %}
