{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>This experiment consists of two parts. 
            First, there is a pre-test, which consists of several general knowledge questions. Your performance on this pre-test will determine the bonus you receive at the end of the experiment.</p>

            <p>Second, you will be presented with a pair of face images and asked to choose which person you would most likeley be romantically interested in.</p>

            <p>After you have made your decision, you will have a chance to see which person all of the other participants chose. Then, you will be asked to remake your decision. This process will be repeated for a number of pairs of face images.</p>

            <p>For both parts you will have 30 seconds to answer each question. If you do not answer the question in the allotted time you will be automatically removed from the experiment.</p>
       </p>

        <p>Before the experiment begins, please tell us whether you are primarily interested in men or women as romatic partners:</p>

        <div id="radio-div" class="col-md-4">
            <form>
                <input type="radio" name="preference" value="none" checked class="hidden"><br>
                <input type="radio" name="preference" value="men"> Men<br>
                <input type="radio" name="preference" value="women"> Women<br>
                <input type="radio" name="preference" value="both"> Both<br>
            </form>
        </div>

        <br><br><br><br>
        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button id="begin-button" type="button" class="btn btn-success btn-lg" onClick="advance()">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function advance() {
            dallinger.post('/question/' + dallinger.identity.participantId, {
                question: "preference",
                number: 0,
                response:  $('input[name="preference"]:checked').val()
            }).done();{
                dallinger.allowExit();
                dallinger.goToPage('experiment');
            }
        }

        $("#begin-button").prop('disabled', true);
        $("#radio-div").hide();
        dallinger.createParticipant().done(function (resp) {
            $("#begin-button").prop('disabled', true);

            $('input[type=radio][name=preference]').change(function() {
                if (this.value == 'men' | this.value == 'women' | this.value == 'both') {
                    $("#begin-button").prop('disabled', false);
                } else {
                    $("#begin-button").prop('disabled', true);
                }
            });

            $("#radio-div").show();
        });
    </script>
{% endblock %}
